@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Varela;
  src: url("fonts/Varela-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  background: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #161515;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 7%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-style: italic;
  font-size: 1.2em;
  color: white;
}

header nav ul a {
  color: white;
}

header nav ul a:hover {
  color: #ff0000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header span {
  position: absolute;
  top: 0;
  left: 0;
}

header span a img {
  width: 8vw;
  position: absolute;
  top: 55px;
  left: 20px;
  z-index: 2;
}

header .left {
  width: 55%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
}

header .left .text {
  position: absolute;
  left: 8%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40%;
}

header .left .text div {
  overflow: hidden;
}

header .left .text .h1 {
  width: 150%;
}

header .left .text h1 {
  font-size: 5.5em;
  font-family: "Times New Roman", Times, serif;
}

header .left .text p {
  padding-top: 10%;
  line-height: 140%;
  font-family: Varela;
  font-size: 1.1em;
}

header .left a {
  color: #212121;
  text-decoration: none;
  font-style: italic;
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 1.3em;
}

header img {
  position: absolute;
  right: 0;
  width: 55%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 5px;
  z-index: 2;
}

.text {
  position: absolute;
  top: 20%;
  width: 30%;
}

.text h1 {
  font-size: 5.5em;
  font-family: "Times New Roman", Times, serif;
}

.text p {
  font-family: Varela;
  font-size: 1.2em;
  margin-top: 6%;
}

.text button {
  margin-top: 8%;
  background-color: #ff0000;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-size: 1.1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.text button:hover {
  background: white;
  border: 1px solid #ff0000;
}

.text button:hover a {
  color: #ff0000;
  font-family: Varela;
}

.text button a {
  color: white;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  height: 100vh;
  position: relative;
}

.overview .text {
  right: 8%;
  width: 40%;
}

.overview img {
  position: absolute;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40%;
}

.overview2 .text {
  left: 8%;
  width: 40%;
}

.overview2 img {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40%;
}

.carac {
  background: #161515;
  color: white;
}

.carac .img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
  height: 90%;
  overflow: hidden;
  opacity: 0.2;
}

.carac .img::before {
  content: "";
  position: absolute;
  left: -85%;
  top: 0;
  background: #161515;
  width: 165%;
  height: 90%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.carac .img::after {
  content: "";
  position: absolute;
  right: -85%;
  top: 0;
  background: #161515;
  width: 165%;
  height: 90%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.carac .img:hover::before {
  height: 83%;
}

.carac .img:hover::after {
  height: 50%;
}

.carac .img img {
  height: 100%;
}

.carac .text {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.carac .text p {
  text-align: center;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.76);
}

.carac .text h1 {
  font-size: 4em;
  text-align: center;
  font-style: italic;
}

.acheter .text {
  left: 8%;
  width: 30%;
}

.acheter img {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50%;
}

footer {
  background: #161515;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Varela;
}

footer a {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer a:hover {
  color: #ff0000;
}

footer div {
  margin: 5%;
}

footer div p {
  margin-bottom: 1%;
}

.right_text {
  opacity: 0;
}

.left_text {
  opacity: 0;
}

.left2 {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */