$bg_color: white; //? ou #E5E5E5
$segond_bg_color: #161515;
$text_color: #212121;
$segond_color: #ff0000;
$font_title: "Times New Roman", Times, serif;
$font_text: Varela;

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: Varela;
  src: url("fonts/Varela-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
}
body {
  background: $bg_color;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
header {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: $segond_bg_color;
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 7%;

    ul {
      display: flex;
      width: 25%;
      justify-content: space-around;
      list-style: none;
      font-style: italic;
      font-size: 1.2em;
      color: white;
      a {
        color: white;
        &:hover {
          color: $segond_color;
          transition: 0.5s;
        }
      }
    }
  }
  span {
    position: absolute;
    top: 0;
    left: 0;
    a img {
      width: 8vw;
      position: absolute;
      top: 55px;
      left: 20px;
      z-index: 2;
    }
  }
  .left {
    width: 55%;
    height: 100%;
    background: $bg_color;
    position: absolute;
    top: 0;
    .text {
      position: absolute;
      left: 8%;
      top: 50%;
      transform: translateY(-50%);
      width: 40%;
      h1 {
        font-size: 5.5em;
        font-family: $font_title;
      }
      p {
        padding-top: 10%;
        line-height: 140%;
        font-family: $font_text;
        font-size: 1.1em;
      }
    }
    a {
      color: $text_color;
      text-decoration: none;
      font-style: italic;
      position: absolute;
      bottom: 5%;
      left: 5%;
      font-size: 1.3em;
    }
  }
  img {
    position: absolute;
    right: 0;
    width: 55%;
    top: 50%;
    transform: translateY(-50%);
    border: 5px;
    z-index: 2;
  }
}

//! fin header

//! les sections
// text div
.text {
  position: absolute;
  top: 20%;
  width: 30%;
  h1 {
    font-size: 5.5em;
    font-family: $font_title;
  }
  p {
    font-family: Varela;
    font-size: 1.2em;
    margin-top: 6%;
  }
  button {
    margin-top: 8%;
    background-color: $segond_color;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 3px;
    font-size: 1.1em;
    transition: 0.5s;
    position: relative;
    &:hover {
      background: $bg_color;
      border: 1px solid $segond_color;
      a {
        color: $segond_color;
        font-family: $font_text;
      }
    }
    a {
      color: white;
      font-family: $font_title;
      letter-spacing: 1px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

section {
  height: 100vh;
  position: relative;
  // scroll-snap-align: start;
}
.overview {
  .text {
    right: 8%;
    width: 40%;
  }
  img {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
  }
}
.overview2 {
  .text {
    left: 8%;
    width: 40%;
  }
  img {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
  }
}
.carac {
  background: $segond_bg_color;
  color: $bg_color;
  .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    overflow: hidden;
    opacity: 0.4;
    &::before {
      content: "";
      position: absolute;
      left: -85%;
      top: 0;
      background: $segond_bg_color;
      width: 165%;
      height: 90%;
      transform: rotate(-45deg);
      transition: 0.8s;
    }
    &::after {
      content: "";
      position: absolute;
      right: -85%;
      top: 0;
      background: $segond_bg_color;
      width: 165%;
      height: 90%;
      transform: rotate(-45deg);
      transition: 0.8s;
    }
    &:hover {
      &::before {
        height: 83%;
      }
      &::after {
        height: 50%;
      }
    }
    img {
      height: 100%;
    }
  }
  .text {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
      text-align: center;
      font-size: 0.9em;
      color: rgba(255, 255, 255, 0.76);
    }
    h1 {
      font-size: 4em;
      text-align: center;
      font-style: italic;
    }
  }
}
.acheter {
  .text {
    left: 8%;
    width: 30%;
  }
  img {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
  }
}
footer {
  // scroll-snap-align: start;
  background: $segond_bg_color;
  color: $bg_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Varela;
  a {
    color: $bg_color;
    transition: 0.5s;

    &:hover {
      color: $segond_color;
    }
  }
  div {
    margin: 5%;
    p {
      margin-bottom: 1%;
    }
  }
}
